h1 {
    font-size: 15px;
}

body {
    background-color: antiquewhite;
}

table,th,td {
    border: 1px solid #D68EB2;
}

table {
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: #F2E6EA;
}

tr:nth-child(even) {
    background-color: #E4CAD2;
}

td, th {
    padding: 0 15px;
}